<app-spinner *ngIf="isLoading"></app-spinner>
<mat-card class="flex-center" *ngIf="!isLoading">
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <mat-card-content>
            <mat-stepper orientation="vertical" linear #stepper>
                <mat-step [stepControl]="credentials">
                    <ng-template matStepLabel>Fill your credentials</ng-template>
                    <form [formGroup]="credentials">
                        <div class="flex-column form-fields">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput type="text" formControlName="username">
                                <mat-error *ngIf="!credentials.get('username')?.valid">
                                    <span *ngIf="credentials.get('username')?.hasError('username_exists')">Username already exists</span>
                                    <span *ngIf="credentials.get('username')?.hasError('hasSpace')">Username cannot contain spaces</span>
                                    <span *ngIf="credentials.get('username')?.hasError('required')">Username cannot be empty</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="!credentials.get('password')?.valid">Password cannot be empty</mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="stepper-btn">
                        <button mat-stroked-button color="primary" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="personalDetails">
                    <ng-template matStepLabel>Fill your Personal Details</ng-template>
                    <form [formGroup]="personalDetails">
                        <div class="flex-column form-fields">
                            <mat-form-field appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput type="text" formControlName="name">
                                <mat-error *ngIf="!personalDetails.get('name')?.valid">Name cannot be empty</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Height (in cm)</mat-label>
                                <input matInput type="number" formControlName="height">
                                <mat-error *ngIf="!personalDetails.get('height')?.valid">
                                    <span *ngIf="personalDetails.get('height')?.hasError('min')">Height cannot be negative</span>
                                    <span *ngIf="personalDetails.get('height')?.hasError('required')">Height cannot be empty</span>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Gender</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option value="MALE">Male</mat-option>
                                    <mat-option value="FEMALE">Female</mat-option>
                                </mat-select>
                                <mat-error *ngIf="!personalDetails.get('gender')?.valid">Gender cannot be empty</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Date of Birth</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dob">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="!personalDetails.get('dob')?.valid">D.O.B cannot be empty</mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="stepper-btn">
                        <button mat-stroked-button color="basic" matStepperPrevious type="button">Back</button>
                        <button mat-stroked-button color="primary" matStepperNext type="button">Next</button>
                    </div>
                </mat-step>
                <mat-step [stepControl]="profileImgGroup">
                    <ng-template matStepLabel>Upload a Profile Image</ng-template>
                    <form [formGroup]="profileImgGroup">
                        <div class="flex-column form-fields">
                            <mat-form-field appearance="outline">
                                <mat-label>Profile Photo</mat-label>
                                <ngx-mat-file-input formControlName="profileImg" (change)="onImgChange()" accept="image/*" name="profile_img"></ngx-mat-file-input>
                                <mat-icon matSuffix>folder</mat-icon>
                                <mat-error *ngIf="!profileImgGroup.get('profileImg')?.valid">Profile Image cannot be empty</mat-error>
                            </mat-form-field>
                            <!-- <input type="file" accept="image/*" formControlName="profileImg" (change)="onImgChange($event)" name="profile_img"> -->
                        </div>
                    </form>
                    <div class="stepper-btn">
                        <button mat-stroked-button color="primary" type="submit">Sign Up</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </mat-card-content>
    </form>
    <mat-card-footer>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
    </mat-card-footer>
</mat-card>
