<mat-card class="flex-center">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <mat-card-content class="flex-column form-fields">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" required ngModel name="username" #username="ngModel" appNoSpace>
                <mat-error *ngIf="!username.valid && username.touched">
                    <span *ngIf="username.hasError('hasSpace'); else empty">Username cannot contain spaces</span>
                    <ng-template #empty>Username cannot be empty</ng-template>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" required ngModel name="password" #password="ngModel">
                <mat-error *ngIf="!password.valid && password.touched">Password cannot be empty</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="wide-button" type="submit">Login</button>
        </mat-card-actions>
    </form>
    <mat-card-footer>
        <p>Don't have an account? <a routerLink="/signup">Sign Up</a></p>
    </mat-card-footer>
</mat-card>
