/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
    display: flex;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100%
}

.full-width {
    width: 100%;
}

mat-expansion-panel {
    margin-bottom: 10px !important;
}

mat-card-header, mat-card-content {
    width: -webkit-fill-available;
}

mat-card-title, mat-card-header, .form-fields {
    padding: 16px !important;
}

mat-card-title {
    font-size: x-large !important;
}

mat-form-field {
    margin-bottom: 10px !important;
    width: 100% !important;
}

.mat-mdc-card-header-text, mat-card-footer {
    width: 100%;
    text-align: center;
}

mat-card-actions {
    padding: 16px !important;
    width: 100%;
}

.stepper-btn {
    padding-left: 16px;
}

.stepper-btn > button {
    margin-right: 15px;
}

.wide-button {
    width: 100%;
}

.mg-bottom {
    margin-bottom: 10px;
}

.padding-top-0 {
    padding-top: 0 !important;
}

.box {
    width: 45%;
    max-width: 400px;
    min-width: 320px;
    margin: 32px 0;
}

form {
    width: -webkit-fill-available;
}

@media (max-width: 420px) {
    .box {
        width: 100%;
        min-width: 0 !important;
        height: 100%;
    }
    mat-card {
        height: 100%;
    }
}