/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-row {
    display: flex;
}

.flex-column {
    display: flex !important;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.full-height {
    height: 100%
}

.full-width {
    width: 100%;
}

mat-card-header, mat-card-content {
    padding: 16px !important;
    width: -webkit-fill-available;
}

.mat-mdc-card-header-text {
    width: 100%;
    text-align: center;
}

mat-card-actions {
    padding: 16px !important;
    width: 100%;
}

.wide-button {
    width: 100%;
}

.box {
    width: 45%;
    max-width: 400px;
    min-width: 320px;
}

@media (max-width: 360px) {
    .box {
        width: 100%;
        min-width: 0 !important;
        height: 100%;
    }
    mat-card {
        height: 100%;
    }
}